<!--базовый html-шаблон, являющийся основой всех других страниц и создающий шапку ссылок для перехода по сайту-->
<html>
    <head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    </head>
    <body>
        <div>
            Microblog:
            <a href="/index">Home</a>
        <!--проверка, вошел ли пользователь в приложение, от этого меняется кнопка перехода с login на logout-->
            {% if current_user.is_anonymous %}
                <a href="/login">Login</a>
            {% else %}
                <a href="/logout">Logout</a>
            {% endif %}
            <a href="/say_hello">Hello</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
        <!--поле для вывода информационных сообщений пользователю-->
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <!--основное поле для контента с других страниц-->
        {% block content %}{% endblock %}
    </body>
</html>