<!--Основная старница приложения-->
{% extends "base.html" %}

{% block content %}
<!--приветствие пользователя, который вошел в систему-->
    <h1>Hi, {{ current_user.username  }}!</h1>
<!--Если форма была передана, то она добавится на страницу-->
    {% if form %}
<!--Добавление формы для написания сообщения-->
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.post.label }}<br>
                {{ form.post(cols=32, rows=4) }}<br>
                {% for error in form.post.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    {% endif %}
<!--вывод всех сообщений, которые есть в блоге-->
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
<!--Создание ссылок на предыдущие и следуюзие сообщения в блоге, если такие ссылки передавались-->
    {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}