{% extends "base.html" %}
<!--Шаблон для страницы пользователя-->

{% block content %}
    <table>
        <tr valign="top">
<!--Добавление аватара пользователя на страницу-->
            <td><img src="{{ user.avatar(128) }}"></td>
            <td><h1>User: {{ user.username }}</h1></td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
    <table>
        <tr valign="top">
<!--Добавление аватаров пользователей к каждому сообщению-->
            <td><img src="{{ post.author.avatar(36) }}"></td>
            <td>{{ post.author.username }} says:<br>{{ post.body }}</td>
        </tr>
    </table>
    {% endfor %}
{% endblock %}